In [8]:
## Lab 10: Constructors

## Task 0: W3Schools Reference

In [9]:
class Animal:
    def __init__(self):
        print('A new animal has been created!')

In [10]:
# Code cell for objects

In [11]:
animal1 = Animal()
animal2 = Animal()
animal3 = Animal()

A new animal has been created!
A new animal has been created!
A new animal has been created!

In [12]:
# Code cell for the class

In [13]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
        print(f'Created car: {self.brand} {self.model}')

In [14]:
# Code cell for objects

In [15]:
car1 = Car('Toyota', 'Corolla')
car2 = Car('BMW', 'X5')
car3 = Car('Tesla', 'Model 3')

Created car: Toyota Corolla
Created car: BMW X5
Created car: Tesla Model 3

In [16]:
# Code cell for the class

In [17]:
class House:
    def __init__(self, address, rooms, price):
        self.address = address
        self.rooms = rooms
        self.price = price
        print(f'Created house at {self.address} with {self.rooms} rooms for ${self.price}')

In [18]:
# Code cell for objects

In [19]:
house1 = House('123 Main St', 3, 250000)
house2 = House('456 Oak Ave', 5, 450000)

Created house at 123 Main St with 3 rooms for $250000
Created house at 456 Oak Ave with 5 rooms for $450000